/* AsanaPage.css */

/* General styles */
.asana-page {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

.camera-feed {
    position: relative;
    width: 100%;
    max-width: 800px;
    /* height: 100%; */
}

.camera-feed video {
    width: 100%;
    height: auto;
    border-radius: 8px;
}

.asana-image-overlay {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 8px;
}

.asana-image-overlay img {
    max-width: 150px;
    max-height: 150px;
}

.asana-image-overlay p {
    max-width: 150px;
    max-height: 150px;
}

.video-controls {
    margin-top: 20px;
}

.video-controls button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #007bff;
    color: white;
}

.video-feedback-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.video-feedback-container video {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.feedback-details {
    display: flex;
    flex-direction: column;
    /* margin-bottom: 20px; Add margin between columns */
}

.feedback-item {
    margin-bottom: 5px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}



.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 70%;
    height: 70%;
    overflow-y: scroll;
    overflow-x: hidden;
}

.modal-content h2 {
    margin-top: 0;
}

.modal-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-header-close {
    display: flex;
    flex-direction: col;
    align-items: center;
    cursor: pointer;

}

.modal-content-instructions-box {
    /* overflow-y: scroll;
    overflow-x: hidden; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
}

.modal-content-instructions {
    align-items: start;
}

.page-with-instructions {
    padding: 20px;
}

/* Responsive styles */
@media (max-width: 768px) {
    .asana-image-overlay {
        top: 5px;
        left: 5px;
    }
}